


/* ESTILOS PARA EL HEADER */


.layout_icono{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout_icono a img{
   width: 3rem;
  }

.layout_icono a h3{
  font-size: 3rem;
}


/* ESTILOS PARA LA SECCION PRINCIPAL */



main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    

    

}



.contenedor{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}



/* ESTILOS PARA EL MENSAJE Y BOTONES */

.tituloEliminar{
    margin-bottom: 5rem;
}

.botonWidth{
     text-decoration: none;
}

.botonSi{
    background-color: red;
    cursor: pointer;
}




