



html{
    scroll-behavior: smooth;
}



body {
    margin: 0px;

}


/* ESTILOS PARA LA NAVEGACION  */

.header__icono {
    display: flex;
    text-decoration: none
}

.header__icono h3{
    font-size: 2rem;
    margin-left: 1rem;
    color: black;
    


}


.iconoTablet{
    display: none;
}



.header__navegacion {
    width: 90%;

    margin: 0 auto;

}

.navegacion__boton {
    color: var(--azulClaro);
    font-weight: 600;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 4rem;
    padding-left: 4rem;
    border: 1px solid var(--azulClaro);
    text-decoration: none;
}


.navegacion__elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0px;
}



.inputBuscar {

    font-size: 1.6rem;
    border: none;
    color: #A2A2A2;
    outline: none;
    align-self: center;
    width: 200px;

    

}





/* ESTILOS PARA EL  BANNER     */


.header__banner {
    width: 100%;
    height: 25rem;
    background-image: url(../../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--blanco);
    margin: 0 auto;
    ;

}



.banner__contenido {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 1rem;

}

.header__banner h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0px;
}

.header__banner p {
    font-size: 1.4rem;
    font-weight: 600;
}


.header__banner a {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
    background: var(--azulClaro);
    padding: 1.4rem;
    width: 40%;
    text-align: center;
    margin-bottom: 3rem;
}



/* ESTULOS PARA LA SECCION   */


main {
    width: 90%;
    margin: 0 auto;
}


.seccionHeader h2 {
    color: var(--grisOscuro);
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.seccionHeader div {

    display: flex;
    flex-direction: row;

    justify-content: space-between;
}


.seccionHeader div div img {

    width: 1.5rem;
}

.seccionHeader__verTodo {
    color: var(--azulClaro);
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: .5rem;
    align-self: center;
    text-decoration: none;

}



/* SECCION DE PRODUCTOS  */

.seccion__productos {

    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;
    margin: 0px !important;



}

.seccion__productos div img {

    width: 100%;
    height: 13rem;
    border-radius: 1rem;
    animation: animacionImagenes;
    animation-duration: 1.5s;

}

@keyframes animacionImagenes{
    0%{transform: scale(0);}
    100%{transform: scale(1);}

}







.seccion__productos div {

    display: flex;
    flex-direction: column;
    width: 100%;

  

}

.producto__titulo {

    font-weight: 500;
    font-size: 1.4rem;
    color: var(--grisOscuro);
    margin: .3rem;
    text-align: left;


}

.producto__precio {

    font-weight: 700;
    font-size: 1.6rem;
    margin: .3rem;


}


.producto__ver {

    font-weight: 700;
    font-size: 1.4rem;
    color: var(--azulClaro);
    margin: .3rem;

}


.seccion__productos div:nth-child(5) {
    display: none;

}

.seccion__productos div:nth-child(6) {
    display: none;

}


/* ESTILOS PARA EL FOOTER */




.footer_opciones {

    margin-top: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.footer_opciones p {

    margin: 1rem;

}


.footer__formulario {

    width: 90%;
    margin: 0 auto;
    margin-top: 6rem;
}





.formulario__titulo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--grisOscuro);
    margin-bottom: 5rem;
}


.layoutInput div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

}

.layoutInput textarea {
    width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    outline: none;

}



.layoutInput div label {
    font-size: 1.6rem;
    font-weight: 400;
    color: #A2A2A2;

}

.layoutInput div input {

    border: none;
    border-bottom: 1px solid #C8C8C8;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grisOscuro);
    outline: none;

}

.layoutInput div select {

    border: none;
    border-bottom: 1px solid #C8C8C8;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--grisOscuro);
    outline: none;

}

.boton__formulario {
    margin-top: 4rem;
    background-color: var(--azulClaro);
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--blanco);
    border: none;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 6rem;
    padding-right: 6rem;
}



.footer__formulario p {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 3rem;

}



/*  RESPONSIVE PARA TABLET  */


@media (min-width:768px) {

    .header__icono h3{
        font-size: 2.5rem;
    
    }

    .original{
        display: none;
    }

    .iconoTablet{
        display: inline;
    }

    
    .header__banner {
        height: 30rem;

    }

    .seccion__productos {

        width: 95%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 1%;
        margin: 0px !important;



    }

    .header__banner h2 {
        font-size: 5.2rem;
        font-weight: 700;
        margin: 0px;
    }

    .header__banner p {
        font-size: 2.2rem;
        font-weight: 600;
    }


    .header__banner a {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--white);
        text-decoration: none;
        background: var(--azulClaro);
        padding: 1.4rem;
        width: 40%;
        text-align: center;
    }

    footer {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: flex-start;

    }




    .formulario__titulo {

        margin-top: 0rem;
    }


    .footer_opciones {

        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }


    .footer__formulario p {

        text-align: left;


    }



    .navegacion__boton {
        color: var(--azulClaro);
        font-weight: 600;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 9rem;
        padding-left: 9rem;
        border: 1px solid var(--azulClaro);
        text-decoration: none;
    }


   

  


  


}





@media (min-width:1025px) {

    .header__navegacion {
        width: 150rem;
        max-width: 120rem;



    }


    .header__banner {
        height: 40rem;

    }


    main {
        width: 150rem;
        max-width: 120rem
    }

    footer{
        width: 150rem;
        max-width: 120rem;
        margin:0 auto;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .banner__contenido {
        width: 150rem;
        max-width: 120rem
        
    
    }

    .seccion__productos {

        width: 95%;
        display: grid;
        grid-template-columns: 16% 16% 16% 16% 16% 16%;
        gap: 1%;
        margin: 0px !important;



    }

    .seccion__productos div:nth-child(5) {
        display: inline;
    
    }
    
    .seccion__productos div:nth-child(6) {
        display: inline;
    
    }

    .header__banner a {
     
        width: 20%;
  
    }
    




}