


.navegacion__elementos{
    justify-content: start;
    gap: 5rem;
    padding-bottom: 10rem;
}

.headerTodosProductos{

    display: flex;
    justify-content: space-between;

}

.tituloTodosProductos{
    margin-bottom: 5rem;
}


.organizarTodosProductos{
    display: grid;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    grid-template-columns: 45% 45%;
    column-gap: 10%;

    
}


.organizarTodosProductos div{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}



.organizarTodosProductos div img{
    border-radius: 1rem;
    animation: animacionImagenes;
    animation-duration: 1.5s;

    height: 15rem;
    


   
}

@keyframes animacionImagenes {

    0%{transform: scale(0);}
    
}


.footer_opciones{
    list-style: none;
}




@media (min-width:765px)  {

    .organizarTodosProductos{
        display: grid;
        width: 100%;
        height: 90%;
        margin: 0 auto;
        grid-template-columns: 24% 24% 24% 24%;
        column-gap: 1%;
    
        
    }

    main{
        margin: 0 auto;
      
    }
    
}

@media (min-width:1025px)  {

    .organizarTodosProductos{
        display: grid;
        width: 100%;
        height: 90%;
        margin: 0 auto;
        grid-template-columns: 15% 15% 15% 15% 15% 15% ;
        column-gap: 1%;
    
        
    }

    main{
        margin: 0 auto;
      
    }
    
}