.layoutInput div:nth-child(1){
    
    margin-bottom: 4rem;


}


.layoutInput div{
    
    margin-bottom: 4rem;


}



.botonWidth{
    width: 100%;
}


.botonRegistrarProducto{
    cursor: pointer;
}

.botonRegistrarProducto:hover{
   background-color: black;
   transition: background-color 1.5s;
}