<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../assets/css/base/base.css" />
    <link rel="stylesheet" href="../../assets/css/pages/index.css" />
    <link rel="stylesheet" href="../../assets/css/pages/login.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="contenedor">
      <header>
        <nav class="header__navegacion">
          <ul class="navegacion__elementos">
            <li>
             <a  class="header__icono" href="../../index.html">
              <img src="../../assets/img/vectorControl.svg" alt="" />
              <h3>AluraGeek</h3>
             </a>
            </li>
           
          </ul>
        </nav>

   
      </header>

      <main>
        <form class="formularioLogin" action="">
            <h2>Iniciar Sesión</h2>

            <div class="layoutInput">
                <div>
                  <label for="">Escriba su correo electronico</label>
                  <input type="email">
                </div>
                <div>
                    <label for="">Escriba su contraseña</label>
                    <input type="password">
                  </div>
                </div>  
                 
                <a href="../productos/todosProductosAdmin.html" class="boton__formulario botonWidth" type="submit" value="Entrar">Entrar<a/>
           
        </form>
      </main>




   
    </div>
  </body>

</html>
