<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/base/base.css" />
    <link rel="stylesheet" href="../assets/css/pages/index.css" />
    <link rel="stylesheet" href="../assets/css/pages/productos.css" />
    <link rel="stylesheet" href="../assets/css/pages/productosAdmin.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="contenedor">
      <header>
        <nav class="header__navegacion">
          <ul class="navegacion__elementos">
            <li >
              <a class="header__icono" href="../index.html">
                <img src="../assets/img/vectorControl.svg" alt="" />
              <h3>AluraGeek</h3>
              </a>
            </li>
            <li>
              <img
                class="iconoBuscar iconoTablet"
                src="../assets/img/vectorLupa.svg"
                alt=""
              />
            </li>
            <li>
              <img src="../assets/img/vectorLupa.svg" alt="" />
            </li>
          </ul>
        </nav>
      </header>


      <main>
        <h2 class="main__titulo">Todos Los Productos</h2>

        <a href="registrarProducto.html" class="boton_agregarProducto">Agregar Producto</a>

        <section class="seccionHeader">
       
  
        <section class="seccion__productos productosAdmin"></section>

  

        </section>







      </main>

      <footer>
        <div class="footer_opciones">
          <li class="header__icono centrarIcono">
            <img src="../assets/img/vectorControl.svg" alt="" />
            <h3>AluraGeek</h3>
          </li>

          <p>Quienes somos</p>
          <p>Politica de privacidad</p>
          <p>Programa de fidelidad</p>
          <p>Nuestras tiendas</p>
          <p>Quiero ser franquiciado</p>
          <p>Anúncie aquí</p>
        </div>

        <section class="footer__formulario">
          <form action="">
            <h3 class="formulario__titulo">Hable con nosotros</h3>


         

            <div class="layoutInput">
              <div>
                <label for="">Nombre</label>
                <input type="text" />
              </div>
              <textarea
                placeholder="Escribe tu mensaje"
                name=""
                id=""
                rows="6"
              ></textarea>

              <input
                class="boton__formulario"
                type="submit"
                value="Enviar Mensaje"
              />
            </div>
          </form>

          <p>Desarrollado por Andrew Buitrago 2022</p>
        </section>
      </footer>
    </div>
  </body>
  <script type="module" src="../controller/productosController.js"></script>
</html>





